@model BugZapper.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PermissionLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PermissionLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectUsers)
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.ProjectUsers)
            {
                <p>@item.Project.ProjectTitle</p>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
